@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* A barra '/' no início de 'url' é a parte mais importante aqui */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/barbershop-bg.png');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}